<% if (title) { %>
<h1 class="title-page"><%= title %></h1>
<% } else { res.redirect('/') } %> 

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form">
    <form id="loginForm" action="/account/login" method="post">
        <div class="form-control">
            <label for="account_email">Email</label>
            <input type="email" name="account_email" id="account_email" required placeholder="mail@mail.com">
        </div>
        <div class="form-control">
            <label for="account_password">Password</label>
            <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <div class="password-required">
                <span>Passwords must be: </span> 
                <ul>
                    <li>at least 12 characters </li>
                    <li>contain at least 1 number</li>
                    <li>1 capital letter </li>
                    <li>1 special character</li>
                </ul>
            </div>
        </div>
        <div class="form-submit">
            <button type="submit">Send</button>
            <h4>No account? <a href="/account/singup">Sing-up</a></h4>
        </div>
    </form>
</div>