<% const d = new Date()
let year = d.getFullYear() %>

<footer>
    <a href="/details/errorlink">Intentional error process</a>
    <p class="copyright"> & copy; <%= year %>, CSE 340 App </p>
</footer>