<div class="content">
    <div class="banner">
        <div class="content-banner">
            <h1>Welcome to CSE Motors</h1>
            <p>DMC Delorean, 3 Cup holders, Superman doors, Fuzzy dice!</p>
            <button type="button" class="btn-action">Own Today</button>
        </div>
    </div>
    <div class="services">
        <div class="upgrades">
            <h2>Dolerean Upgrades</h2>
            <div class="items">
                <div class="upgrade-item">
                    <img src="/images/upgrades/flux-cap.png" alt="flux cap">
                    <a href="" title="capacitor">Flux Capacitor</a>
                </div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/flame.jpg" alt="flame">
                    <a href="" title="capacitor">Flame</a>
                </div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="brumper">
                    <a href="" title="capacitor">Brumper</a>
                </div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub">
                    <a href="" title="capacitor">Flux Capacitor</a>
                </div>
            </div>
        </div>
        <div class="reviews">
            <h2>DCM Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time."" (4/5)</li>
                <li>"Coolest ride on the road."" (4/5)</li>
            </ul>
        </div>
    </div>
</div>
