<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    
    <%- messages() %>

    <% if (errors) { %>
        <ul class="error">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
    <% } %>
    
    <div id="form-classification" class="form">
        <form action="/inv/add-classification" method="post">
            <div class="form-control">
                <label for="">Classification name</label>
                <input type="text" name="classification_name" id="classification_name" pattern="^[a-zA-Z0-9_]+$" 
                title="The classification name must not contain spaces or special characters. Only letters, numbers, and underscores (_) are allowed." 
                required value="<%= locals.classification_name %>"/>
                <p class="msg-error">The classification name must not contain spaces or special characters. Only letters, numbers, and underscores (_) are allowed.</p>
            </div>
            <div class="form-submit">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>